/*-------------------------------------------------------------------------------------------------*/
/*-------------------------------------------Generales---------------------------------------------*/
/*-------------------------------------------------------------------------------------------------*/

/*-------Reseteo, :root (HTML), body y container-------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {

    --color-fondo: #f2f2f2;
    --color-texto: #000000;
    --color-textoSecundario: #2d254d;

    --color-primario: #ffffff;
    --color-secundario: #184c41;
    --color-terciario: #ffffff;
   
 
}

/* @font-face {
    font-family: 'Outfit';
    src: url('/fonts/Outfit-VariableFont_wght.ttf') format('truetype');
   
} */

body {
    font-family: 'outfit';
    background-color: var(--color-fondo);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    width: 100vw;
}



/*-------------------------------------------------------------------------------------------------*/
/*----------------------------------------------Header y Footer------------------------------------*/
/*-------------------------------------------------------------------------------------------------*/

/*-----------------------Header ----------------------*/

.header {
    height: 30%;
    background-color: var(--color-primario);
    width: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    

    
}
.header__logo {
    max-width: 100%; 
    height: auto; 

    
    
}



/*-----------------------Footer ----------------------*/
.footer {
    
    background-color: var(--color-primario);
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    height: 7rem;
    font: 1.3rem;
    align-items: center;
    background-image: url(/imgs/fondo.jpg);
    background-size: cover; 
    background-position: center bottom; 
    padding: 20px; 
    
    
    
    
}

.footer__links{
    
    width: 33%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    
}

.footer__privacidad, .footer__contacto{
   
    width: 33%;
    display: flex;
    justify-content: center;
    font-size: 1.30rem;

}

.footer__privacidad a, .footer__contacto a{
    text-decoration: none;
    color: var(--color-texto);
    font-weight: 500;
}
:hover.footer__privacidad a, :hover.footer__contacto a, :hover.rrss img{
    transform: scale(1.2);
}

.rrss{
   
    width: 50%;
    
    }

.rrss img{
width: 3em;
height: auto;
}


/*-----------------------Navegación----------------------*/
.nav {
    
    width: 100%;
    background-color: var(--color-secundario);
    padding: 10px;
    position: fixed;
    top: 30%;
    align-content: center;
    background-image: url(/imgs/fondo.jpg);
    background-size: cover; 
    background-position: center top; 
    padding: 20px; 
    
    
}



/*Div donde metemos los botones*/
.nav__buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 1.3rem;
    min-width: 100px;
}
/*Botones del nav*/
.nav__btn{
    background-color: var(--color-terciario);
    border-radius: 5%;
    width: 33%;
    height: 10%;
    margin: 10px;
    padding: 10px;
    font-family: 'outfit';
    font-size: 1.30rem;
    justify-content: space-around;
}

:hover.nav__btn{
    transform: scale(1.1); /* Escalado al pasar el mouse */
}

.nav__btn a{
    color: var(--color-texto);  
}


/*-------------------------------------------------------------------------------------------------*/
/*--------------------------------------------MAIN-------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------*/
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    flex: 1;
    margin-top: 400px;
    margin-bottom: 200px;
    /* flex-wrap: wrap; */
    font-size: 1.30rem;
}

/*---------Boton de "Volver al Menú principal"-----------------*/
.volver {
    position: fixed;
    bottom: 20px;
    right: 20px; 
    background-color: var(--color-secundario);
    color: var(--color-primario);
    border: none; 
    padding: 5px; 
    border-radius: 5px; 
    cursor: pointer; 
}

.volver img {
    width: 50%;
}

/*---------Estilo de los botones con etiqueta btn---------------*/

.btn{
    padding: 20px;
    border-radius: 10%;
    color: var(--color-secundario) ;
    font-size: 1.30rem;
    font-family: 'outfit';
    border: none;
    box-shadow:0px 2px 4px rgb(42, 122, 110) ;
    margin: 30px;
   
    border-radius: 0;
    transition: border-radius 0.5s ease-in-out;
    
}

:hover.btn{
    border-radius: 30%;
    
    

}
/*------------------------------------------------------------------*/
/*----------------------------HTML INDEX----------------------------*/
/*------------------------------------------------------------------*/

/*---------Acordeón----------*/

.acordeon {
    background-color: #fff;
    border-radius: 15px;
    padding: 10px;
    width: 90%;
    
    display: flex;
    flex-direction: column;
    text-align: left;
}

.acordeon__item {
    
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(7, 101, 67, 0.1);
    padding: 40px;
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: block; 
    max-height: 250px; 
}

.acordeon__item--titulo {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    padding: 10px;
    margin-bottom: 20px;
    width: 90%;
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 1.50rem;
    font-weight: 600;
    color: var(--color-secundario);
}

.acordeon__item--contenido {
    display: none;  
}

.active .acordeon__item--contenido {
    display: block;
    padding: 30px;
}

.lista{
    display: none;
}

.active .lista {
    display: block;
}

.redirection {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.redirection__btns {
    display: flex;
    justify-content: space-around;
    padding: 50px;
    gap: 100px;
    flex: 1;
    height: auto;
    width: 100%;
    font-size: 1.30rem;
    
    
}



.redirection__btns a {
    font-family: 'outfit';
    font-size: 1.30rem;
    color: var(--color-texto);
}

.redirection__btns img {
    width: 300px;
    height: auto;
    justify-content: center;
    margin-top: 30px;
}

.irRopa, .irDisenos, .irPersonalizar {
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    width: auto;
    max-width: 500px;
    
    cursor: pointer;
    border: none;
    box-shadow:0px 2px 4px rgb(42, 122, 110) ;
    
    
    
}
:hover.irRopa{
    transform: rotate(-10deg);
    
}
:hover.irDisenos {
    transform: scale(1.1)
    
}
:hover.irPersonalizar {
    transform: rotate(10deg);
    
}




/*---------descuento----------*/

.descuento{
    display: none;
    padding: 30px;
    margin-top: 15px;
    font-size: 1.30rem;
    font-family: 'outfit';
    
    
}
.active .descuento{
    display: block;
    
    
}

.descuento:hover {
    transform: scale(1.2); 
}

.filtro{
    padding: 30px;
}
#inputTitulo{
    padding: 10px;
    border: none;
    box-shadow:0px 2px 4px rgb(42, 122, 110) ;
    margin: 15px;
   
    opacity: 0.7;
    transition: opacity 0.5s ease-in-out;
    
    
}

:hover#inputTitulo{
    opacity: 1;
}




/*------------------------------------------------------------*/
/*---------------HTML PERSONALIZAR----------------------------*/
/*------------------------------------------------------------*/

#products-container , #productos-container, #disenos-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding-top: 400px;
    padding: 30px;
    
}


.productItem, .disenoItem{
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    width: 300px;
    align-content: space-around;
}

.productItem img {
    width: 100%;
    height: auto;
}
.disenoItem img {
    width: 100%;
    height: auto;
}

.productItem h3 {
    
    margin: 10px 0;
}

.productItem p {
    margin: 5px 0;
}

.productItem .price {
    font-weight: bold;
    
}

.infoPrecio{
    font-size: 1rem;
}

#carrito{
   
    border: 1px solid red;
    display: flex;
    flex-wrap: wrap;
   width: 100%;
   height: auto;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 30px;
    margin: 30px;
    
    
    
}
#carrito img{
   
width: 30%;
height: auto;
    
}

#borrarCarrito{
    padding: 20px;
    margin: 20px;
}

.carritoResumen{
    border: 3px solid green;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    height: auto;
    min-height: 400px;
    width: 100%;
    flex-wrap: wrap;

}

#carrito-container, #carrito-disenos{
    display: flex;

}

#carrito-container, #carrito-disenos{
    display: flex;

}


.carritoPago{
    border: 3px solid pink;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 30px;
   
}
.aplicar{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

#aplicarDescuento, #codigo{
    padding: 10px;
}



.aplicardescuento{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
}



.irPago{
    border: 1px solid green;
    width: 100px;
    padding: 30px;


}

.fixed-button {
    position: fixed;
    bottom: 20px; 
    right: 20px; 
    background-color: #007BFF; 
    color: white; 
    border: none; 
    padding: 10px 20px;
    border: none;  
    cursor: pointer; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
}

.fixed-button:hover {
    background-color: #0056b3; /* Color de fondo al pasar el mouse */
}

/*--------------------------------------------------------*/
/*---------------HTML CONTACTO----------------------------*/
/*--------------------------------------------------------*/

.contacto{
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 20px;
}

/*--------------------------------------------------------*/
/*---------------HTML DISEÑOS-----------------------------*/
/*--------------------------------------------------------*/

.sliderContent{
    margin: 30px;
    display: flex;
flex-direction: row;

}

.sliderContent .btn{
    display: flex;
flex-direction: row;
}
.slider{
overflow: hidden;
border: 1px solid black;
display: flex;
flex-direction: row;
}

.slider-images{
    display: flex;
    width: 400px;
    height: 600px;
    transition: transform 0.5s ease;
}

.slider-images img{ /*a cada imagen del grupo slider-images*/
    min-width: 400px;
    max-width: 400px;
    min-height: auto;
    

    object-fit: contain; /*como me va a mostrar la imagen dentro de la caja, es decir añade barritas en los lados o arriba/abajo para evitar que la foto sea muy ancha o muy larga*/
}



.mensaje {
    display: none;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #f0f0f0;
    padding: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}



/* 
/* Para móviles (hasta 768px de ancho) */
@media (max-width: 768px) {
    .redirection {
        padding: 20px;
    }

    .redirection__btns {
        flex-direction: column;
        gap: 20px;
    }

    .redirection__btns img {
        width: 100%;
        margin-top: 10px;
    }

    
}

/* Para tablets (de 768px a 1024px de ancho) */
@media (min-width: 769px) and (max-width: 1024px) {
    .redirection__btns {
        gap: 50px;
    }
}


/* Para pantallas grandes (más de 1024px de ancho) */
@media (min-width: 1025px) {
    .redirection__btns {
        gap: 100px;
    }
} 