/*-----------------------------------------------------------------*/
/*----------------------------Generales----------------------------*/
/*-----------------------------------------------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.25rem;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 100vw;
}

/*-----------------------------------------------------------------*/
/*----------------------------Header y footer----------------------*/
/*-----------------------------------------------------------------*/

.header {
    height: 200px;
    background-color: rgb(207, 230, 118);
    width: 100vw;
    display: flex;
    justify-content: center;
    z-index: 2;
    position: fixed;
    font-size: 5rem;
    
}
.header__logo {
    max-width: 100%; /* Asegura que la imagen no exceda el tamaño del contenedor */
    height: auto; /* Permite que la altura se ajuste proporcionalmente */
    
    
}

.header__logo--ropa{
    display: flex;
       
}

.footer {
    
    background-color: rgb(207, 230, 118);
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    
}

.footer__links{
    
    width: 33%;
    display: flex;
    justify-content: space-around;
    
}

.footer__privacidad, .footer__contacto{
   
    width: 33%;
    display: flex;
    justify-content: center;
}

/*-----------------------------------------------------------------*/
/*----------------------------Main---------------------------------*/
/*-----------------------------------------------------------------*/

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 100%;
    flex: 1;
    margin-top: 400px;
    margin-bottom: 200px;
}


/*---------------Navegación------------*/
.nav {
    
    width: 100VW;
    background-color: rgb(162, 84, 236);
    padding: 1rem;
    position: fixed;
    z-index: 1;
    top: 200px;
}

.nav__buttons {
    display: flex;
    flex-direction: row;
    
    
}

.nav__btn{
    background-color: rgb(186, 127, 237);
    border-radius: 5%;
    width: 33%;
    margin: 10px;
    padding: 10px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.25rem;
}

:hover.nav__btn{
    transform: scale(1.1); /* Escalado al pasar el mouse */
}


/*---------Personalizar----------*/

.personalizar {
    display:none;

}
.active .personalizar {
    display:block;

}

.personalizar:hover {
    transform: scale(1.2); /* Escalado al pasar el mouse */
}


/*---------Acordeón----------*/


.acordeon {
    background-color: #fff;
    border-radius: 15px;
    padding: 10px;
    width: 90%;
    margin: 30px;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.acordeon__item {
    background-color: #fefcfc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: block; /* Muestra el contenido activo */
    max-height: 200px; /* Altura máxima para el contenido visible */
    
    
}

.acordeon__item--titulo {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    padding: 10px;
    margin-bottom: 20px;
    width: 90%;
    display: flex;
    flex-direction: column;
    text-align: left;

    
}

.acordeon__item--contenido {
    display: none;
   
}


.active .acordeon__item--contenido {
    display: block;
     
}


.sombreado {
    box-shadow: inset 0 10px 20px -10px rgba(0, 0, 0, 0.5);  
}

:hover.sombreado {
    box-shadow: inset 0 10px 20px -10px rgba(0, 0, 0, 0.5);  
}


/*---------descuento----------*/

.descuento{
    display: none;
    
    
}
.active .descuento{
    display: block;
    
    
}


#products-container , #productos-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    max-width: 70%;
}

.productItem {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    width: 300px;
}

.productItem img {
    width: 100%;
    height: auto;
}

.productItem h2 {
    font-size: 1.2em;
    margin: 10px 0;
}

.productItem p {
    margin: 5px 0;
}

.productItem .price {
    font-weight: bold;
    color: #e67e22;
}


.contacto{
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 20px;
}


.slider{
overflow: hidden;
border: 1px solid black;
}

.slider-images{
    display: flex;
    width: 400px;
    height: 600px;
    transition: transform 0.5s ease;
}

.slider-images img{ /*a cada imagen del grupo slider-images*/
    min-width: 400px;
    max-width: 400px;
    min-height: 600px;
    max-height: 600px;

    object-fit: contain; /*como me va a mostrar la imagen dentro de la caja, es decir añade barritas en los lados o arriba/abajo para evitar que la foto sea muy ancha o muy larga*/
}

.carrito{
    background-color: yellow;
    border: 1px solid red;
    display: flex;
    flex-wrap: wrap;
   width: 50%;
   height: auto;
    flex-direction: row;
}


.irPago{
    border: 1px solid green;
    width: 100px;
    padding: 30px;


}
.volver{
    border: 1px solid green;
    width: 50%;
    padding: 30px;
    justify-content: center;
}