/*-------------------------------------------------------------------------------------------------*/
/*-------------------------------------------Generales---------------------------------------------*/
/*-------------------------------------------------------------------------------------------------*/

/*-------Reseteo, :root (HTML), body y container-------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Colores utilizados*/
:root {

    --color-fondo: #f2f2f2;
    --color-texto: #000000;
    --color-primario: #ffffff;
    --color-secundario: #184c41;


}


body {
    font-family: 'outfit';
    background-color: var(--color-fondo);
}



.container {
    font-family: 'outfit';
    background-color: var(--color-fondo);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    width: 100vw;
    flex: 1;
    height: 100%;
}

/*-------Botones y otras clases comunes en todos los HTML -------------------*/

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    margin-top: 30%;

}

/*Botón fijo en la pantalla (derecha) para volver al index.html*/
.volver {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--color-secundario);
    color: var(--color-primario);
    border: none;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    align-items: center;

}

/*foto de la casita*/
.volver img {
    width: 50%;

}

/*clase aplicada a algunos botones*/

.btn {
    padding: 20px;
    border-radius: 10%;
    color: var(--color-secundario);
    font-size: 1.30rem;
    font-family: 'outfit';
    border: none;
    box-shadow: 0px 2px 4px rgb(42, 122, 110);
    margin: 30px;
    border-radius: 0;
    transition: border-radius 0.5s ease-in-out;

}


/*-------------------------------------------------------------------------------------------------*/
/*-----------------------------------------Header, Footer y Nav------------------------------------*/
/*-------------------------------------------------------------------------------------------------*/

/*-----------------------HEADER ----------------------*/
/*header ocupa una posición fija en la pantalla*/
.header {
    height: 20%;
    background-color: var(--color-primario);
    width: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
}

/*logo del header*/

.header__logo {
    max-width: 100%;
    height: auto;
}


/*-----------------------Footer ----------------------*/
/*Lleva la misma imagen de fondo que el Nav*/
.footer {

    background-color: var(--color-primario);
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    font: 1.3rem;
    align-items: center;
    background-image: url(/imgs/fondo.jpg);
    background-size: cover;
    /*la imagen de fondo se ajusta al footer*/
    background-position: center bottom;
    padding: 20px;
    position: relative;
    bottom: 0;
    margin-top: auto;

}

/*apartado de RRSS del footer*/

.footer__links {
    width: 33%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    font-size: 1.30rem;

}

/*Apartado de privacidad y contacto del footer */
.footer__privacidad,
.footer__contacto {

    width: 33%;
    display: flex;
    justify-content: center;
    font-size: 1.30rem;

}

/*Privacidad y contacto del footer: links */
.footer__privacidad a,
.footer__contacto a {
    text-decoration: none;
    color: var(--color-texto);
    font-weight: 500;
}

/*Privacidad y contacto del footer: links + transform*/
:hover.footer__privacidad a,
:hover.footer__contacto a,
:hover.rrss img {
    transform: scale(1.2);
}

/*Contenedores de RRSS*/

.rrss {
    width: 33%;
}

/*Imagenes de RRSS*/
.rrss img {
    width: 3em;
    height: auto;
}


/*-----------------------NAV----------------------*/
/*Corresponde al panel de navegación: Ropa y Accesorios, Diseños y Personalizar*/
.nav {
    width: 100%;
    background-color: var(--color-secundario);
    padding: 10px;
    position: fixed;
    top: 20%;
    align-content: center;
    background-image: url(/imgs/fondo.jpg);
    background-size: cover;
    background-position: center top;
    padding: 20px;
}



/*Div donde metemos los botones*/
.nav__buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 1.3rem;
    min-width: 100px;

}

/*Botones del nav*/
.nav__btn {
    background-color: var(--color-primario);
    border-radius: 5%;
    width: 33%;
    height: 10%;
    margin: 10px;
    padding: 10px;
    font-family: 'outfit';
    font-size: 1.30rem;
    justify-content: space-around;
    transition: 0.5s ease, transform 0.5s ease;
    text-align: center;
    margin: 15px;
    border: 1px solid black;
    color: var(--color-texto);
    text-decoration: none;

}

/*Transiciones de los botones*/

:hover.nav__btn {
    transform: scale(1.1);
    /* Escalado al pasar el mouse */
}

/*Estilos de los links*/



/*------------------------------------------------------------------*/
/*----------------------------HTML INDEX----------------------------*/
/*------------------------------------------------------------------*/


/*---------Acordeón----------*/

/*Todo el acordeón*/
.acordeon {
    background-color: #fff;
    border-radius: 15px;
    padding: 10px;
    width: 90%;

    display: flex;
    flex-direction: column;
    text-align: left;
}

/*Pasos del acordeón*/

.acordeon__item {

    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(7, 101, 67, 0.1);
    padding: 40px;
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: block;

}

/*Titulos de los pasos: siempre visibles*/

.acordeon__item--titulo {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    padding: 10px;
    margin-bottom: 20px;
    width: 90%;
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 1.50rem;
    font-weight: 600;
    color: var(--color-secundario);
}

/*El contenido de cada paso, se muestra oculto por norma general*/

.acordeon__item--contenido {
    display: none;
}

/*menos cuando lleva aplicado la clase active, esto es cuando hacemos clic en el titulo*/
.active .acordeon__item--contenido {
    display: block;
    padding: 30px;
}

/*---------descuento del paso 4 del acordeón----------*/
/*en el paso 4 hemos hecho un pequeño div, que tendrá las mismas propiedades que el contenido del acordeón. Se muestra oculto, a no ser que lleve aplicado la clase active*/

.descuento {
    display: none;
    padding: 30px;
    margin-top: 15px;
    font-size: 1.30rem;
    font-family: 'outfit';
}

.active .descuento {
    display: block;
}

/*cuando pasamos el ratón por encima se escala*/
.descuento:hover {
    transform: scale(1.1);
}

/*FIN DEL ACORDEON*/


/*Contenedor general de Redirección*/
.redirection__btns {
    display: flex;
    justify-content: space-around;
    padding: 50px;
    gap: 100px;
    flex: 1;
    flex-wrap: wrap;
    height: auto;
    width: 100%;
    font-size: 1.30rem;

}

/*Divs del contenedor: links */

.redirection__btns a {
    font-family: 'outfit';
    font-size: 1.30rem;
    color: var(--color-texto);
}

/*Divs del contenedor: imagenes */
.redirection__btns img {
    width: 300px;
    height: auto;
    justify-content: center;
    margin-top: 30px;
}


/*Cada uno de los divs, que te lleva a la pagina en cuestión*/
.irRopa,
.irDisenos,
.irPersonalizar {
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    width: auto;
    max-width: 500px;
    cursor: pointer;
    border: none;
    box-shadow: 0px 2px 4px rgb(42, 122, 110);
    flex-wrap: wrap;
    flex: 1;

}

/*Transiciones para estos botones*/
/*hover con rotate y scale*/

:hover.irRopa {
    transform: rotate(-10deg);
}

:hover.irDisenos {
    transform: scale(1.1)
}

:hover.irPersonalizar {
    transform: rotate(10deg);

}


/*--------------------------------------------------------*/
/*---------------HTML ROPA-----------------------------*/
/*--------------------------------------------------------*/

/*Estilos para filtro cuando escribimos un input */
.filtro {
    padding: 20px;
}

.filtro__botones {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


/*este inputText ha sido utilizado para todos los input de la página web*/
.inputText {
    padding: 10px;
    border: none;
    box-shadow: 0px 2px 4px rgb(42, 122, 110);
    margin: 15px;
    opacity: 0.7;
    /*ponemos una opacidad de 0.7 y abajo está la transición de opacidad*/
    transition: opacity 0.5s ease-in-out;
    width: 100%;


}

/*efecto de transición*/
:hover#inputText {
    opacity: 1;
}




/*--------------------------------------------------------*/
/*---------------HTML DISEÑOS-----------------------------*/
/*--------------------------------------------------------*/

/*Contenedor genereal de todo el Slider*/
.sliderContent {
    margin: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;


}

.sliderContent img {
    display: flex;
    max-width: 50%;



}


/*Slider de fotos*/
.slider {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    border: none;
    box-shadow: 0px 2px 4px rgb(42, 122, 110);
    margin: 30px;
}

/*Contenedor de imágenes*/

.slider-images {
    display: flex;
    min-width: 250px;
    max-width: 250px;
    height: auto;
    transition: transform 0.5s ease;
}

/*Imagénes en sí*/
.slider-images img {
    /*a cada imagen del grupo slider-images*/
    min-width: 250px;
    max-width: 250px;
    object-fit: contain;
    /*como me va a mostrar la imagen dentro de la caja, añade barritas en los lados o arriba/abajo para evitar que la foto sea muy ancha o muy larga*/
}

/*Botones de anterior y siguiente*/

.btnAnterior,
.btnSiguiente {
    color: var(--color-secundario);

    font-family: 'outfit';
    border: none;
    border-radius: 0;
    margin: 0;
    padding: 0;
    height: fit-content;
    align-items: center;


}

/*Hover de scale al pasar el mouse por estos borones*/

:hover.btnAnterior,
:hover.btnSiguiente {
    transform: scale(1.2);

}

/*Contador total de imagenes, donde marca la posición actual con respecto al total*/

.slider-contador {
    background-color: var(--color-secundario);
    color: var(--color-primario);
    border: none;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    padding: 20px;
}


/*------------------------------------------------------------*/
/*---------------HTML PERSONALIZAR----------------------------*/
/*------------------------------------------------------------*/



/*Botón de ir al carrito, te lleva a la parte de abajo*/
.irCarrito {
    padding: 20px;
    border-radius: 10%;
    color: var(--color-secundario);
    font-size: 1.30rem;
    font-family: 'outfit';
    border: none;
    box-shadow: 0px 2px 4px rgb(42, 122, 110);
    margin: 30px;
    border-radius: 0;
    transition: border-radius 0.5s ease-in-out;

}

/*estilo de los botones para añadir al carrito*/

.btnCestaRopa,
.btnCestaDiseno {
    padding: 10px;
    border-radius: 10%;
    color: var(--color-secundario);
    font-size: 1rem;
    font-family: 'outfit';
    border: none;
    box-shadow: 0px 2px 4px rgb(42, 122, 110);
    margin: 30px;
    border-radius: 0;

}

/*hover de estos ultimos borones*/

:hover.btn,
:hover.irCarrito {
    border-radius: 30%;



}

/*container donde están los articulos: prendas y ropa*/

#products__container,
#productos__container,
#disenos__container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding-top: 400px;
    padding: 30px;
    margin-bottom: 100px;
    flex: 1;

}

/*cada uno de los articulos y diseños llevan esta clase*/
.productItem,
.disenoItem {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    width: 300px;
    align-content: space-around;
    border: none;
    box-shadow: 0px 2px 4px rgb(42, 122, 110);
    margin: 30px;
}

/*hover de la clase anterior*/
:hover.productItem,
:hover.disenoItem {
    transform: scale(1.1);
}

/*imagenes de diseños + imagenes de productos*/
.disenoItem img,
.productItem img {
    width: 80%;
    height: auto;
}

/*ropa y accesorios: estilos para h3, parrafos y precio de productItem (ropa y accesorios)*/

.productItem h3 {

    margin: 10px 0;
}

.productItem p {
    margin: 5px 0;
}

.productItem .price {
    font-weight: bold;

}

/*MENSAJES*/

/*Cuando se añade un artículo a la cesta, aparece el #mensajeDiseno, indicando al usuario que debe elegir un diseño. 
Si se añade un diseño a la cesta, salta el mensaje #mensaje indicando al usuario que debe elegir una prenda o accesorio*/

#mensaje,
#mensajeDiseno {
    position: fixed;
    bottom: 60px;
    left: 20px;
    border: 1px solid var(--color-secundario);
    height: auto;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
    display: none;
}

:hover#mensaje,
:hover#mensajeDiseno {
    opacity: 1;
    /* Totalmente visible */
    transform: translateY(0);
    display: block;
}



/*CARRITO*/

/*Contenedor para todo el carrito*/
#carrito {

    background-color: var(--color-secundario);
    color: white;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    height: auto;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 30px;
    margin: 30px;

}

/*resumen del carrito*/
/*lo que hemos echado a la cesta*/
.carrito__resumen {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: auto;
    min-height: 400px;
    width: 100%;
    flex-wrap: wrap;
    margin-bottom: 50px;

}

/*dentro del resumen carrito, apartado para container y apartado para diseños*/
#carrito__container,
#carrito__disenos {
    display: flex;
    justify-content: center;

}

/*imagenes que se ven en el carrito resumen*/
#carrito img {

    width: 30%;
    height: auto;

}


/*borrar el carrito*/
#borrar__carrito {
    padding: 20px;
    margin: 20px;
}

.borrar__carrito {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 40px;
}

/*Dentro del carrito, la parte del pago */

.carrito__pago {

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 30px;
    text-align: center;
}

/*información del precio actual*/
.infoPrecio {
    font-size: 1rem;
}

/*Div para aplicar descuento*/

.aplicar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    width: 40%;
    background-color: var(--color-primario);
    color: var(--color-secundario);
    margin: 50px;
    border: none;
    box-shadow: -2px 4px 4px rgb(42, 122, 110);
    transition: 0.5s ease, transform 0.5s ease;
    flex-wrap: wrap;
    min-width: 200px;
}

:hover.aplicar {
    transform: scale(1.1);

}

#aplicarDescuento,
#codigo {
    padding: 10px;
    display: block;
    width: 100%;
}




.aplicar__descuento {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
}

/*Botón de pagar que lleva a la pagina de pago*/

.irPago {
    padding: 10px;
    border-radius: 10%;
    color: var(--color-primario);
    font-size: 1rem;
    font-family: 'outfit';
    border: none;
    box-shadow: 0px 2px 4px rgb(42, 122, 110);
    margin: 30px;
    border-radius: 0;
}



/*--------------------------------------------------------*/
/*---------------HTML CONTACTO----------------------------*/
/*--------------------------------------------------------*/


/*partes del formulario de contacto*/
.contacto__info {
    padding: 15px;

}

/*labels de .contacto__info*/

.contacto__info label {
    margin-right: 50px;
    flex: 1;

}

/*---------------PAGO---------------*/

/*partes del formulario de pago*/

.pago__info {
    padding: 20px;

}




/*--------------------------------------------------------*/
/* MEDIA QUERIES */
/*--------------------------------------------------------*/

/*--------------------------------------------------------*/
/* Pantallas pequeñas (móviles) */
/*con un ancho maximo de 480px*/
/*--------------------------------------------------------*/
@media (max-width: 480px) {

    /*header*/
    .header {
        height: auto;
        padding: 10px;
        position: relative;
        top: 0
    }

    .header__logo {
        max-width: 80%;
    }

    /*nav*/
    .nav {
        top: 10%;
        padding: 10px;
        position: relative;
    }

    .nav__btn {
        width: 100%;
        height: auto;
        font-size: 1rem;

    }

    /*footer*/

    .footer__links,
    .footer__privacidad,
    .footer__contacto {
        width: 100%;
        flex-direction: column;
        align-items: center;
        font-size: 1rem;
        padding: 10px;
    }

    .footer__links {
        margin-bottom: 10px;
    }

    .rrss img {
        width: 2em;
        width: 80%;
        padding: 2px;
    }

    .contacto {
        padding: 10px;
        margin: 10px;
        font-size: 1rem;
    }

    /*main*/
    .main {

        font-size: 0.8rem;
        margin: 5%;
    }

    /*los productos y diseños*/
    #products__container,
    #productos__container,
    #disenos__container {
        display: flex;
        flex-wrap: wrap;
        flex: 1;
    }

    .productItem,
    .disenoItem {
        width: 100%;
    }

    /*slider de imagenes*/
    .slider-images {

        height: auto;
    }

    .slider-images img {
        min-width: 100%;
        max-width: 400px;
        display: flex;
        align-items: center;
    }

    .btnAnterior {

        width: auto;
        position: fixed;
        bottom: 40%;
        left: 0;

    }

    .btnSiguiente {

        width: auto;
        position: fixed;
        bottom: 40%;
        right: 0;



    }

    .btnAnterior button {

        width: auto;
        position: fixed;
        bottom: 40%;
        left: 0;

    }

    .btnSiguiente button {


        width: auto;
        position: fixed;
        bottom: 40%;
        right: 0;


    }


    /*ir al carrito*/
    .irCarrito,
    .btnCestaRopa,
    .btnCestaDiseno {
        font-size: 0.8rem;
    }



    /*seccion pago*/
    .pago {
        padding: 20px;
        margin: 20px;
    }

    /*botones en general*/
    .btn {
        width: 80%;
    }
}

/*--------------------------------------------------------*/
/*PARA TABLETS*/
/*minimo 481px hasta 768px*/
/*--------------------------------------------------------*/
@media (min-width: 481px) and (max-width: 768px) {

    /* Header */
    .header {
        height: auto;
        padding: 15px;
        position: relative;
        top: 0;
    }

    .header__logo {
        max-width: 70%;
    }

    /* Nav */
    .nav {

        height: auto;
        padding: 15px;
        position: relative;
        top: 0;

    }

    .nav__btn {
        width: 100%;
        height: auto;
        font-size: 1.2rem;
    }

    /* Footer */
    .footer__links,
    .footer__privacidad,
    .footer__contacto {
        width: 100%;
        flex-direction: column;
        align-items: center;
        font-size: 1.1rem;
        padding: 15px;
    }

    .footer__links {
        margin-bottom: 15px;
    }

    .rrss img {
        width: 2.5em;
        padding: 3px;
    }

    .contacto {
        padding: 15px;
        margin: 15px;
        font-size: 1.1rem;
    }

    /* Main */
    .main {
        font-size: 0.9rem;
        margin: 5%;

    }

    /* Productos y diseños */
    #products__container,
    #productos__container,
    #disenos__container {
        display: flex;
        flex-wrap: wrap;
        flex: 1;
    }

    .productItem,
    .disenoItem {
        width: 48%;
        margin: 1%;
        box-sizing: border-box;
    }

    /* Slider de imágenes */
    .slider-images {
        height: auto;
    }

    .slider-images img {
        min-width: 100%;
    }

    /* Ir al carrito */
    .irCarrito,
    .btnCestaRopa,
    .btnCestaDiseno {
        font-size: 1.2rem;

    }

    /* Sección pago */
    .pago {
        padding: 25px;
        margin: 25px;
    }

    /* Botones en general */
    .btn {
        width: 70%;
    }
}

/*--------------------------------------------------------*/
/*PARA PANATALLAS GRANDES*/
/*Para pantallas mas grandes de 769px
/*--------------------------------------------------------*/
@media (min-width: 769px) {

    /* Header */
    .header {
        height: auto;
        padding: 20px;
        position: relative;
        top: 0;
    }

    .header__logo {
        max-width: 60%;
    }

    /* Nav */
    .nav {
        top: 10%;
        padding: 20px;
        position: relative;
    }

    .nav__btn {
        width: auto;
        height: auto;
        font-size: 1.5rem;
    }

    /* Footer */
    .footer__links,
    .footer__privacidad,
    .footer__contacto {
        width: 100%;
        flex-direction: row;
        justify-content: space-around;
        font-size: 1.2rem;
        padding: 20px;
    }

    .footer__links {
        margin-bottom: 20px;
    }

    .rrss img {
        width: 3em;
        padding: 5px;
    }

    .contacto {
        padding: 20px;
        margin: 20px;
        font-size: 1.2rem;
    }

    /* Main */
    .main {
        font-size: 1rem;
        margin: 10%;
        display: flex;
        flex-wrap: wrap;
    }

    /* Productos y diseños */
    #products__container,
    #productos__container,
    #disenos__container {
        display: flex;
        flex-wrap: wrap;
        flex: 1;
    }

    .productItem,
    .disenoItem {
        width: 30%;
        margin: 1.5%;
        box-sizing: border-box;
    }

    /* Slider de imágenes */
    .slider-images {
        height: auto;
    }

    .slider-images img {
        min-width: 100%;
    }

    /* Ir al carrito */
    .irCarrito,
    .btnCestaRopa,
    .btnCestaDiseno {
        font-size: 1.5rem;
    }

    /* Sección pago */
    .pago {
        padding: 30px;
        margin: 30px;
    }

    /* Botones en general */
    .btn {
        width: 60%;
    }
}